<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  
  
  
      <link rel="stylesheet" href="_CSS_/style.css">

  
</head>

<body>

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>


<form action="{:url('index/index/register')}" method="post">
  <h4> Login Information </h4>
  <input class="name" type="text" name="user_name" placeholder="Enter Username"/>
  <input class="pw" type="password" name="user_pass" placeholder="Enter Password"/>
  <input class="pw" type="password" name="surepass" placeholder="Sure Password"/>
  <input class="button" type="submit" value="register in"/>
</form>
  
  

</body>

</html>
